{% extends 'base.html' %}
{% block liActive2 %}
<li><a class="active" href="{{url_for('index_Dungeons')}}">普通副本</a></li>
{% endblock liActive2 %}
{% block content %}
<div id="Body">                
    <div class="lineBox">
        <div id="flip">Click to slide panel</div>
        <div id="panel">
            <div class="btn-box">  
                <a class="btn" href="{{url_for('Algethar_Academy')}}">阿爾蓋薩學院</a>                       
                <a class="active">蕨皮谷</a>
                <a class="btn" href="{{url_for('Halls_of_Infusion')}}">灌注迴廊</a>
                <a class="btn" href="{{url_for('Neltharus')}}">奈薩魯斯堡</a>                       
                <a class="btn" href="{{url_for('Ruby_Life_Pools')}}">晶紅生命之池</a>
                <a class="btn" href="{{url_for('The_Azure_Vault')}}">蒼藍密庫</a>
                <a class="btn" href="{{url_for('The_Nokhud_Offensive')}}">諾庫德進攻據點</a>
                <a class="btn" href="{{url_for('Uldaman_Legacy_of_Tyr')}}">奧達曼: 提爾的遺產</a>
            </div>
        </div>
    </div>
    
    <div class="lineBox">
        <p class="tit-MsoNormal">【遊戲副本．五人副本】</p>
        <p class="tit-MsoNormal">「蕨皮谷」</p><br>
        <div class="picBox">
            <p class="MsoNormal">
                有五個npc要救。
            </p><p>&nbsp;</p>    
            <p class="tit-MsoNormal" style="text-align: left;">一王</p>
            <p class="MsoNormal">
                一王有3隻怪。「狂爪」會隨機盯一個人，自己得開招硬吃。圖騰先打。
            </p>    
            <p>&nbsp;</p><p class="tit-MsoNormal" style="text-align: left;">二王</p>
            <p class="MsoNormal">
                沒甚麼。
            </p>
            <p>&nbsp;</p><p class="tit-MsoNormal" style="text-align: left;">三王</p>
            <p class="MsoNormal">
                拉人就跑。地板綠液，記得閃。
            </p> 
            <p>&nbsp;</p><p class="tit-MsoNormal" style="text-align: left;">尾王</p>
            <p class="MsoNormal">
                地板綠色會移動的圈圈，順時針，跑開閃掉。腳下有圈時，記得散開站。
            </p> 
        </div>
    </div>
</div>
<div class="footer-top"></div>
<!--<div id="Footer">Footer 欄位</div>     -->
{% endblock content %}